{{> head}}
    
{{> navbar}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contenido para que te anime tu día.</h1>
    <p class="lead">Animate que la vida es bonita.</p>
  </div>
</div>

<ul class="list-unstyled">
  <li class="media">
    <img src="assets/img/perrobb.jpg" class="img-thumbnail" width="300px" height="300px">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Un bbsito</h5>
      Este es un cachorrito durmiendo para que alegres tu día un poco.
       </div>
  </li>
  <li class="media my-4">
     <img src="assets/img/leonflojo.jpg" class="img-thumbnail" width="300px" height="300px">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Un león flojo</h5>
      A veces es bueno tomar un pequeño descanso para seguir el día con energías.
    </div>
  </li>
  <li class="media">
     <img src="assets/img/img-1.jpg" class="img-thumbnail" width="300px" height="300px">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Apreciando</h5>
      Hay que tener aprecio con los pequeños detalles, a veces no los percibimos y son los que están ahí haciendo brillar nuestro día.
    </div>
  </li>
</ul>

{{> footer}}