{{> head}}
    
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Leon durmiendo</h1>
        <p>
            Este es un leoncito durmiendo
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/leonflojo.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}