{{> head}}
    
{{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">Hola {{ capitalizar nombre }}!</h1>
        <p class="lead">Este es un sitio web sencillo, con dos funcionalidades en el Navbar con el botón de Home y el botón de About.</p>
        <hr class="my-4">
        <p>Este sitio esta montado en un repositorio de Heroku y trabaja con un servidor en nodejs con express.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{{> footer}}